<!DOCTYPE html>
<html ng-app="fkaizen">
<head>
  <title>Financial Kaizen</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
  {% include 'navbar.html' %}

  <div class="container-fluid">
    <div class="row">
      {% if user.is_authenticated %}
        {% include 'leftmenu.html' %}
        <div class="col-xs-10" ng-view>
          <h3>Welcome</h3>
        </div>
      {% else %}
        <div class="col-xs-12" ng-view>
        </div>
      {% endif %}
    </div>
  </div>
  {% include 'footer.html' %}
  {% include 'javascripts.html' %}
</body>
</html>
